.*.swp
.DS_Store
data/
.vscode/
etc/ssl/
web/ytd/pfp/*
!web/ytd/pfp/.keep
web/ytd/temp/*
!web/ytd/temp/.keep
web/ytd/thumbs/*
!web/ytd/thumbs/.keep
web/ytd/videos/*
!web/ytd/videos/.keep
web/ytd/banners/*
!web/ytd/banners/.keep
web/ytd/videos_360/*
!web/ytd/videos_360/.keep
web/vendor/
web/composer.lock
.twigcache/