<textarea class="yt-uix-form-textarea share-embed-code"
    onkeydown="if ((event.ctrlKey || event.metaKey) &amp;&amp; event.keyCode == 67) { yt.tracking.track('embedCodeCopied'); }"
    style="height: 194px;">&lt;object width="560" height="315"&gt;&lt;param name="movie" value="http://www.youtube.com/v/ngzCpd94AwA?version=3&amp;amp;hl=en_US"&gt;&lt;/param&gt;&lt;param name="allowFullScreen" value="true"&gt;&lt;/param&gt;&lt;param name="allowscriptaccess" value="always"&gt;&lt;/param&gt;&lt;embed src="http://www.youtube.com/v/ngzCpd94AwA?version=3&amp;amp;hl=en_US" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"&gt;&lt;/embed&gt;&lt;/object&gt;</textarea>
<p class="share-embed-code-description">
    After making your selection, copy and paste the embed code above. The code changes based on your selection.
</p>

<hr>

<ul class="share-embed-options">
    <li>
        <label>
            <input type="checkbox" class="share-embed-option" name="show-related" checked="">
            Show suggested videos when the video finishes
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" class="share-embed-option" name="use-https">
            Use HTTPS
            [<a href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=UseHTTPS#HTTPS"
                target="_blank">?</a>]
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" class="share-embed-option" name="delayed-cookies">
            Enable privacy-enhanced mode
            [<a href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=PrivacyEnhancedMode#privacy"
                target="_blank">?</a>]
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" class="share-embed-option" name="use-flash-code">
            Use old embed code
            [<a href="http://www.google.com/support/youtube/bin/answer.py?answer=171780&amp;expand=UseOldEmbedCode#oldcode"
                target="_blank">?</a>]
        </label>
    </li>
</ul>

<hr>

<form>
    <ul class="share-embed-size-list">
        <li class="share-embed-size default wide selected">
            <label>
                <input type="radio" name="share-embed-size" value="default" class="share-embed-size-radio "
                    data-width="560" data-height="315">
                <span class="share-embed-size-name">560 × 315</span>
                <span class="share-embed-size-box default"></span>
            </label>
        </li>
        <li class="share-embed-size medium wide">
            <label>
                <input type="radio" name="share-embed-size" value="medium" class="share-embed-size-radio "
                    data-width="640" data-height="360">
                <span class="share-embed-size-name">640 × 360</span>
                <span class="share-embed-size-box medium"></span>
            </label>
        </li>
        <li class="share-embed-size large wide">
            <label>
                <input type="radio" name="share-embed-size" value="large" class="share-embed-size-radio "
                    data-width="853" data-height="480">
                <span class="share-embed-size-name">853 × 480</span>
                <span class="share-embed-size-box large"></span>
            </label>
        </li>
        <li class="share-embed-size hd720 wide">
            <label>
                <input type="radio" name="share-embed-size" value="hd720" class="share-embed-size-radio  hd"
                    data-width="1280" data-height="720">
                <span class="share-embed-size-name">1280 × 720</span>
                <span class="share-embed-size-box hd720"></span>
            </label>
        </li>

        <li class="share-embed-size custom">
            <label>
                <input type="radio" name="share-embed-size" value="custom"
                    class="share-embed-size-radio share-embed-size-radio-custom" data-width="-1" data-height="-1">
                <span class="share-embed-size-name">
                    Custom
                </span>
            </label>
            <ul class="share-embed-customize">
                <li>
                    <label>
                        Width:
                        <input type="text" class="yt-uix-form-input-text share-embed-size-custom-width" maxlength="4">
                        px
                    </label>
                </li>
                <li>
                    <label>
                        Height:
                        <input type="text" class="yt-uix-form-input-text share-embed-size-custom-height" maxlength="4">
                        px
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</form>